.btn {
  border: none;
  background-image: linear-gradient(45deg, #2E3192, #1bffff);
  padding: 2vh 3vw 2vh 3vw;
  border-radius: 5vh;
  transition: .5s;
  color: rgba(#fff, 0.4);
}

.btn:hover, .btnStart:focus {
  color: white;
  transform: scale(1.1);
}

.btn:active {
  transform: rotateY(180deg);
}

.btnContainer {
  padding-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .btnStart {
    font-size: responsive 20px 40px;
  }
}

.btnMedium {
  padding: 1vh 2vw 1vh 2vw;
  border-radius: 3vh;
}

.btnSend {
  font-size: responsive 15px 17px;
}