@font-face { font-family: "julius"; src: url('font/JuliusSansOne-Regular.ttf'); }
@font-face { font-family: "hoef"; src: url('font/hoefler-text-regular.otf'); }
@font-face { font-family: "coelacanth"; src: url('font/Coelacanth.otf'); }

@font-face { font-family: "josefin"; src: url("font/josefin-sans/JosefinSans-Regular.ttf"); }
@font-face { font-family: "josefinSB"; src: url("font/josefin-sans/JosefinSans-SemiBold.ttf"); }
@font-face { font-family: "josefinB"; src: url("font/josefin-sans/JosefinSans-Bold.ttf"); }
@font-face { font-family: "josefinI"; src: url("font/josefin-sans/JosefinSans-Italic.ttf"); }

@font-face { font-family: "cormorant"; src: url('font/Cormorant-Regular.ttf'); }

@font-face { font-family: "arsenalReg"; src: url('font/arsenal/Arsenal-Regular.otf'); }

@font-face { font-family: "sourceSansReg"; src: url('font/source-sans-pro/SourceSansPro-Regular.otf'); }
