.grid { display: grid; }
.cols2 { grid-template-columns: 50% 50%; }
.cols3 { grid-template-columns: 33% 33% 33%; }
.cols3Center { grid-template-columns: 20% 60% 20%; }
.cols4 { grid-template-columns: 25% 25% 25% 25%; }
.cols4Center { grid-template-columns: 20% 30% 30% 20%; }
.cols5 { grid-template-columns: 20% 20% 20% 20% 20%; }
.cols6 { grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%; }
.col1 { grid-column: 1; }

.col2 {
    grid-column: 2;
    width: 100%;
}

.col3 { grid-column: 3; }
.col4 { grid-column: 4; }
.col5 { grid-column: 5; }
.col6 { grid-column: 6; }
