body, html {
  font-family: sourceSansReg;
}

.hidden {
  transform: scale(0);
}

#header {
  background-image: linear-gradient(45deg, #2E3192, #1bffff);

  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  .title {
    font-size: responsive 20px 40px;
    color: white;
    font-family: "julius";
    font-weight: bolder;
  }
}

#main {
  transition: .5s;
}

h1:not(.title), h2 {
  padding-bottom: .2vh;
  font-family: julius;
  font-weight: bold;
}

h1:not(.title) {
  margin-top: 2vh;
  font-size: responsive 20px 30px;
}

h2 {
  margin-top: 1vh;
  font-size: responsive 18px 22px;
}

p {
  padding-left: .5vw;
  font-size: responsive 15px 18px;
  font-family: sourceSansReg;
}

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-weight: bold;
  font-style: italic;
  font-family: cormorant, serif;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

#editorTextA {
  position: absolute;
  top: 15vh;
}

.editor, .editorContainer, .CodeMirror, .CodeMirror-scroll {
	min-height: 70vh !important;
}

.tweaking {
  min-height: 99vh;
}

.spoiler {
  width: 100%;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
  color: #404040;
}

.spoiler:hover, .spoiler:focus, .spoiler:active {
  color: black;
  .icon {
    transform: scale(1.1);
  }
  cursor: pointer;
}

.optionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    img {
      height: 2.5vh;
      padding-left: 1vw;
    }
  }
}

.notie-background-info {
    background-image: linear-gradient(45deg, #2E3192, #1bffff);
}