@media screen and (max-width: 640px) {
    .header {
        height: 50vh !important;
        animation: none;
        background-position: bottom !important;
    }

    .headerFilter {
        display: none;
    }

    .logo {
        animation: none;
    }

    .nav {
        flex-direction: column !important;
        text-align: center !important;
        border: none !important;
        height: 20vh !important;
    }

    .nav  a {
        width: 50% !important;
    }

    .logo {
        height: 20vh !important;
    }

    .cols3Center {
        grid-template-columns: 4vw 92vw 4vw !important;
    }

    .col2 {
        width: 100%;
    }

    .article h1 {
        font-size: 1.5em;
    }

    .article h2 {
        font-size: 1.2em;
    }

    .article ul {
        margin-left: 2vh;
    }

    .article .warning, .article .hint {
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .footContent {
        display: flex !important;
        flex-direction: column-reverse !important;
        width: 100% !important;

        .contact {
            width: 100% !important;
            border:  none !important;
            border-bottom: 1px solid white !important;
            margin-bottom: 1vh;
        }

        .about {
            width: 100% !important;
            border: none !important;
            margin-bottom: 1vh;
        }
    }
}