:root {
    --backgroundNav: #303030;
    --textOnDark: #ffffff;
    --textOnLight: #000000;
    --backgroundNews: #eeeeee;
    --backLight: #f0f0f0;
    --btnColorAccent: #FFC107;
    --btnColorSimple: #aaaaaa;
    --mainBg: #ffffff;
    --errorBgc: #ff3f4f;
    --messageBgc: #2cb052;
    --infoBgc: #64B5F6;
}