<h1>Options</h1>
<div class="optItem">
    <span id="fFamilly" class="fFamilly spoiler" onclick="displayOptItem('fFamilly')"><span>Font selection</span><i class="icon fa fa-angle-down"></i></span>
    <div class="optItemContent hidden">
        <form action="" id="fFamillyForm" class="optionForm">
            <label>
                <input type="radio" value="coelacanth" checked="checked" name="fFamilly">
                Coelacanth <img src="public/images/coelacanthregular-normal.png" alt=""> <img src="public/images/coelacanthregular-ita.png" alt=""> <img src="public/images/coelacanthregular-oldnum.png" alt="">
            </label>
            <label>
                <input type="radio" value="CormorantGaramond" name="fFamilly">
                Garamond <img src="public/images/cormorantgaramond-normal.png" alt=""> <img src="public/images/cormorantgaramond-ita.png" alt=""> <img src="public/images/cormorantgaramond-oldnum.png" alt="">
            </label>
            <label>
                <input type="radio" value="cmbright" name="fFamilly">
                Computer modern bright <img src="public/images/computermodernbright-normal.png" alt=""> <img src="public/images/computermodernbright-ita.png" alt=""> <img src="public/images/computermodernbright-num.png" alt="">
            </label>
            <label>
                <input type="radio" value="iwona" name="fFamilly">
                Iwona <img src="public/images/iwonacondensed-normal.png" alt=""> <img src="public/images/iwonacondensed-ita.png" alt=""> <img src="public/images/iwonacondensed-num.png" alt="">
            </label>
        </form>
    </div>
</div>
<div class="optItem">
    <span id="fSize" class="fFamilly spoiler" onclick="displayOptItem('fSize')"><span>Font size</span><i class="icon fa fa-angle-down"></i></span>
    <div class="optItemContent hidden">
        <form action="" id="fSizeForm" class="optionForm">
            <label>
            Font size
            <select name="fSize" id="fSize">
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12" selected="selected">12</option>
            </select>
        </label>
        </form>
    </div>
</div>
<div class="optItem">
    <span id="toc" class="toc spoiler" onclick="displayOptItem('toc')"><span>Table of contents</span><i class="icon fa fa-angle-down"></i></span>
    <div class="optItemContent hidden">
        <form action="" class="optionForm" id="tocForm">
            <label>
                Table of contents
                <input type="checkbox" name="tocEnable">
            </label>
            <label>
                Depth of the table of contents
                <select name="tocDepth" id="tocDepth">
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </label>
        </form>
    </div>
</div>